<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="appStyle.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          <h1>Welcome to the Engineer Development Journey</h1>
        </div>
        <div class="row">
          <hr style="width: 100%"/>
        </div>
        <p>This program has been built to allow you to assess your own skills and skill gaps, as you work through the modules on this program you will be given a score based on how well you do with a rating. The ratings are as follows:</p>
        <ul type="none">
          <li><strong>Expert</strong> - Meaning, You have achieved top marks or as near as required and shown good understanding of the topic assessed.</li>
          <li><strong>Advanced</strong> - Meaning, You have achieved a very reasonable score and should be proud of your achievement, with a little more focus around this area you should be able to achieve full marks.</li>
          <li><strong>Competent</strong> - You have shown some evidence of this part of the assessment but some more work is required on your knowledge and understanding of this subject.</li>
          <li><strong>Intermediate</strong> - You have scored very low on this area, a significant amout of time should be planned on you developing this area.</li>
          <li><strong>Novice</strong> - You have shown no knowledge or very little knowledge of this area suggesting you need some training and development.</li>
        </ul>
        <p>You will first be taken to the Engineer Self Assessment area where you will have the chance to rate how you feel yourself about your own skills and knowledge. Complete the sections you are skilled to do. Each Skill has its own quiz as follows</p>
        <ul type="none">
          <li><strong>HHT, Broadband, CAL/OMI, UG, IPhone</strong> and <strong>Frames</strong></li>
        </ul>
        <p>You can complete as many sections as you need to and can come back to this if you don't get time to do in one go. This is your program to own, complete the sections and then you can discuss with your manager how you have done, you can decide what help you feel you need. Whether it be coaching support, media store, CBT's or an informal chat with you manager to get yourself up to speed. We have included a PDP section at the end that you can complete on your own or with your manager as you see fit to help you improve your skills. As you complete the questions try not to guess at any answers, if you do not know the answer, leave it blank. When you have completed you will be given the correct answer so you can take learning from it.</p>
        <p>On the CAL/OMI, UG and Frames sections, there are some questions around Safety. It's important that if you get any of these questions wrong and do not score 100% on the safety parts that you discuss this immediately with your manager to ensure that they can check with you for understanding and the complete any relevant safety check with you.</p>
        <p>On the completion of the modules you wish to do, move to the <strong>'Results'</strong> tab to view how you have done against each section. You can ignore scores for sections you are not skilled on and hence would not have completed.</p>
        <div class="row">
          <div style="align-items: center; width: 100%">
            <center><button type="button" name="begin" class="btn btn-primary">Click to Begin</button></center>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- <script src="sidemenu.js" charset="utf-8"></script> -->
  </body>
</html>
