<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="sidemenu.css"> -->
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          <h1>HHT Assessment</h1>
        </div>
        <form>
          <div class="form-group row">
            <label for="Q1" class="col-10 offset-1 col-md-12 offset-md-0">Q1: How would you take your tester up the pole you are working on?</label>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q1" value="A" class="form-check-input">
                  Clip the Tester to the yellow loops on your safety belt
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q1" value="B" class="form-check-input">
                  In your tool pouch
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q1" value="C" class="form-check-input">
                  Using the strap on the tester loop it over your shoulder
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q1" value="D" class="form-check-input">
                  Place the tester in your tool bag and use a bass line to lift the bag
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Q2" class="col-10 offset-1 col-md-12 offset-md-0">Q2: What function will the tester initially perform after being switched on, initialised and connected to the pair?</label>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q2" value="A" class="form-check-input">
                  Nothing until user selects an option
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q2" value="B" class="form-check-input">
                  Test for High Voltage
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q2" value="C" class="form-check-input">
                  Measure the length of the pair
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q2" value="D" class="form-check-input">
                  Test for Digital Services
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Q3" class="col-10 offset-1 col-md-12 offset-md-0">Q3: What function you use to locate a Disconnection</label>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q3" value="A" class="form-check-input">
                  TDR
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q3" value="B" class="form-check-input">
                  RFL Bridge
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q3" value="C" class="form-check-input">
                  DVOM
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Q4" class="col-10 offset-1 col-md-12 offset-md-0">Q4: What function would you use to locate a Contact fault</label>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q4" value="A" class="form-check-input">
                  TDR
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q4" value="B" class="form-check-input">
                  RFL Bridge
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q4" value="C" class="form-check-input">
                  DVOM
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Q5" class="col-10 offset-1 col-md-12 offset-md-0">Q5: Can the tester be used to measure through conductors of different material and gauge?</label>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q5" value="A" class="form-check-input">
                  Yes
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q5" value="B" class="form-check-input">
                  No
                </label>
              </div>
            </div>
            <div class="col-md-12 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Q5" value="C" class="form-check-input">
                  Conductor material and gauge has no effect on tester
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- <script src="sidemenu.js" charset="utf-8"></script> -->
  </body>
</html>
