<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="appStyle.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          <h1>Engineer Self Assessment</h1>
        </div>
        <div class="row">
          <hr style="width: 100%"/>
        </div>
        <div class="row">
          <h2>Skills</h2>
        </div>
        <form>
          <div class="form-group row">
            <label for="SkCALOMI" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained and skilled on Copper Provision work</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkCALOMI" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkCALOMI" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="SkUG" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained to work in the Underground Network, Either First look or UG</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkUG" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkUG" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="SkBB" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained and skilled on our range of BroadBand Products (Not including Fibre)</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkBB" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkBB" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="SkFTTC" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained and skilled to work on our range og Fibre to Cab products</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkFTTC" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkFTTC" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="SkIPhone" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained, skilled (and have) and IPhone</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkIPhone" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkIPhone" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="SkFrames" class="col-10 offset-1 col-md-12 offset-md-0">Please indicate whether or not you are trained, skilled and accredited (hold a valid accreditation card) to work on our Frames (H1 MDF, H4 HDF)</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkFrames" value="Skilled" class="form-check-input">
                  Skilled
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="SkFrames" value="NotSkilled" class="form-check-input">
                  Not Skilled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="HaveHHT" class="col-10 offset-1 col-md-12 offset-md-0">Please say whether or not you have a Hand Held Tester, either an Exfo or a JDSU</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="HaveHHT" value="Skilled" class="form-check-input">
                  Yes
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="HaveHHT" value="NotSkilled" class="form-check-input">
                  No
                </label>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <hr style="width: 100%"/>
        </div>
        <div class="row">
          <h2>Technical Knowledge</h2>
        </div>
        <form>
          <div class="form-group row">
            <label for="TkHHT" class="col-10 offset-1 col-md-12 offset-md-0">HHT</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkHHT" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkHHT" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkHHT" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkHHT" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkHHT" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="TkBB" class="col-10 offset-1 col-md-12 offset-md-0">Broadband/Fibre</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkBB" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkBB" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkBB" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkBB" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkBB" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="TkCALOMI" class="col-10 offset-1 col-md-12 offset-md-0">CAL OMI</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkCALOMI" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkCALOMI" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkCALOMI" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkCALOMI" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkCALOMI" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="TkUG" class="col-10 offset-1 col-md-12 offset-md-0">UG</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkUG" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkUG" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkUG" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkUG" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkUG" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="TkIPhone" class="col-10 offset-1 col-md-12 offset-md-0">IPhone</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkIPhone" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkIPhone" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkIPhone" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkIPhone" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkIPhone" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="TkFrames" class="col-10 offset-1 col-md-12 offset-md-0">Frames</label>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkFrames" value="Expert" class="form-check-input">
                  Expert
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkFrames" value="Advanced" class="form-check-input">
                  Advanced
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkFrames" value="Competent" class="form-check-input">
                  Competent
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkFrames" value="Intermediate" class="form-check-input">
                  Intermediate
                </label>
              </div>
            </div>
            <div class="col-md-2 offset-md-0 col-10 offset-1">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="TkFrames" value="Novice" class="form-check-input">
                  Novice
                </label>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <hr style="width: 100%">
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- <script src="sidemenu.js" charset="utf-8"></script> -->
  </body>
</html>
