.container {
  margin-left: 0px;
}

/*Sharepoint specific styling starts here*/

#pageStatusBar , #sideNavBox , #s4-leftpanel, div.nav, #suiteBar, #DeltaSiteLogo, .ms-breadcrumb-box, #DeltaPlaceHolderSearchArea {
    display: none !important;
}

#s4-bodyContainer {
     padding-top: 0px;
}
#s4-ribbonrow {
    background-color: #ebebeb;
    display: none;
}

#contentBox {MARGIN-LEFT: 5px}

/*Sharepoint specific styling ends here*/
